.contentCalculator{
    max-width: 300px;
}

.contentButtons{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px 5px;
}

.contentResult textarea{
    width: 100%;
    resize: none;
    border: 0;
    text-align: right;
    padding: 10px 0;
    outline: 0;
    font-size: 30px;
}